<div id="<%= dom_id business %>" class="card mb-3">
  <div class="card-header">
    <h5 class="mb-0"><%= business.name %></h5>
  </div>

  <div class="card-body">
    <p class="card-text">
      <strong>Owner:</strong>
      <%= business.owner&.name || "Unknown" %>
    </p>

    <p class="card-text">
      <strong>Type of Products:</strong>
      <%= business.items_count %>
    </p>
  </div>
</div>
