<div id="<%= dom_id business %>">
  <p>
    <strong>Name:</strong>
    <%= business.name %>
  </p>

  <p>
    <strong>Owner:</strong>
    <%= business.owner_id %>
  </p>

  <p>
    <strong>Items count:</strong>
    <%= business.items_count %>
  </p>

</div>
