<% content_for :title, "Businesses" %>

<div class="d-flex justify-content-between align-items-center mb-4">
  <h1 class="mb-0">My Businesses</h1>
  <%= link_to "New Business", new_business_path, class: "btn btn-success" %>
</div>
<hr>
<div id="businesses" class="row g-4">
  <% @businesses.each do |business| %>
    <div class="col-md-4">
      <%= render business %>
      <%= link_to "Show this business", business, class: "btn btn-primary w-100" %>
    </div>
  <% end %>
</div>
