<% content_for :title, "Add Item" %>

<div class="row">
  <div class="offset-md-3 col-md-6">
    <div class="card mb-3">
      <h5 class="card-header">Add Item</h5>

      <div class="card-body">
        <%= render "form", item: @item %>

        <hr>

        <div class="d-flex justify-content-start">
          <%= link_to "Back to inventory", items_path, class: "btn btn-outline-secondary" %>
        </div>
      </div>
    </div>
  </div>
</div>
